///////////////////////////////////////
//COLOUR VARIABLES
$color-blue-medium: #35a3d7;
$color-blue-light: #b9def1;

$color-grey-light:#f3f5f8;
$color-grey-dark: #333333;

$color-red: #c32552;
$color-yellow: #fee342;

///////////////////////////////////////
//RESPONSIVE BREAKPOINTS & MIXINS
//1280 (desktop), 786 (tablet) and 544 (mobile)
//1em = 16px

$bp-desktop:80em;
$bp-tablet:49.13em;
$bp-mobile:34em;

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: $bp-mobile) {
            @content
        }

        ;
    }

    @if $breakpoint==tablet {
        @media only screen and (max-width: $bp-tablet) {
            @content
        }

        ;
    }

}

///////////////////////////////////////
//BASE
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5% -> 1rem = 10px

}

body {
    font-family: 'ABeeZee', sans-serif;

    color: $color-grey-dark;
    background: $color-grey-light;

}

///////////////////////////////////////

.header {
    border: 2px solid orangered;
    height: 25vh;
    background: $color-blue-medium;
    color: #fff;
    display: flex;
    justify-content: center;

    &__text-box {
        border: 2px solid violet;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 3.5%;
        width: 100%;
    }

    &__text {
        padding: .3rem;

        &--sub {
            border: 2px solid yellowgreen;
            text-align: center;
        }

        &--primary {
            border: 2px solid yellowgreen;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        &--sub {
            font-size: 1.5rem;
            font-weight: 500;
        }

        &--primary {
            font-size: 4.5rem;
        }
    }

    &__icon {
        width: 4.7rem;
        height: 4.7rem;
        margin: .5rem;
        background: #fff;
        mask: url(/icons/gift.svg);
    }

}

.content {
    height: 50vh;
    margin: -4vw 5vw 0 5vw;
    background: #fff;
    border-radius: 10px;

    &__navigation{
        background: fuchsia;
        display: flex;
        justify-content: space-between;

        &--grade{
            background: wheat;
        }

        &--features{
            background: peru;
        }
    }

    &__table {
        background: yellowgreen;
    }

    &__icon {
        width: 5rem;
    }
}