///////////////////////////////////////
//COLOUR VARIABLES
$color-blue-medium: #35a3d7;
$color-blue-light: #b9def1;

$color-grey-light-1:#f3f5f8;
$color-grey-light-2: #c2c2c2;
$color-grey-dark: #333333;

$color-red: #c32552;
$color-yellow: #fee342;

///////////////////////////////////////
//SHADOWS
$shadow-base: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
$shadow-active:inset 0 1px 10px 0 rgba(0, 0, 0, 0.2);

///////////////////////////////////////
//RESPONSIVE BREAKPOINTS & MIXINS
//1280 (desktop), 786 (tablet) and 544 (mobile)
//1em = 16px

$bp-desktop:80em;
$bp-tablet:49.13em;
$bp-mobile:34em;

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: $bp-mobile) {
            @content
        }

        ;
    }

    @if $breakpoint==tablet {
        @media only screen and (max-width: $bp-tablet) {
            @content
        }

        ;
    }

}

///////////////////////////////////////
//BUTTON ANIMATION

@mixin btnanimation() {
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(#000, .2);
    }

    &:after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem rgba(#000, .2);
    }
}

///////////////////////////////////////
//BASE
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5% -> 1rem = 10px

}

body {
    font-family: 'ABeeZee', sans-serif;
    color: $color-grey-dark;
    background: $color-grey-light-1;

}

///////////////////////////////////////
//HEADER
.header {
    // border: 2px solid orangered;
    height: 25vh;
    background: $color-blue-medium;
    color: #fff;
    display: flex;
    justify-content: center;

    @include respond(phone) {
        height: 45vw;
    }

    &__text-box {
        // border: 2px solid violet;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 3.5%;
        width: 100%;
    }

    &__text {
        padding: .3rem;

        &--sub {
            // border: 2px solid yellowgreen;
            text-align: center;
        }

        &--primary {
            // border: 2px solid yellowgreen;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        &--sub {
            font-size: 1.5rem;
            font-weight: 500;

        }

        &--primary {
            font-size: 4rem;

            @include respond(phone) {
                font-size: 2.4rem;
            }
        }
    }

    &__icon {
        width: 4.7rem;
        height: 4.7rem;
        margin: .5rem;
        background: #fff;
        mask: url(/icons/gift.svg);

        @include respond(phone) {
            width: 3rem;
            height: 3rem;
        }
    }

}

///////////////////////////////////////
//CONTENT
.content {
    // height: auto;
    margin: -3vw 5vw 0 5vw;
    background: #fff;
    border-radius: 10px;
    padding: 3rem;

    @include respond(phone) {
        margin: -15vw 5vw 0 5vw;
    }

    ///////////////////////////////////////
    //NAVIGATION BAR

    &__navigation {
        // background: fuchsia;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        &--btns{
            display: flex;
        }

        &--grade {
            // border: 2px solid green;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include respond(phone) {
                width: 100%;
                justify-content: space-between;
                margin-bottom: 1rem;
            }
        }

        &--features {
            // border: 2px solid blue;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include respond(phone) {
                flex-direction: column-reverse;

            }
        }

        @include respond(phone) {
            // border: 2px solid red;
            flex-direction: column;
            // align-items: flex-start;


        }
    }

    &__icon {
        height: 2.5rem;

        &--ball {
            height: 3rem;
        }
    }

    &__button {

        &,
        &:link,
        &:visited {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            cursor: pointer;
            width: 4.3rem;
            height: 4.3rem;
            border: 1px solid $color-grey-light-2;
            box-shadow: $shadow-base;
            transition: all .3s;
        }

        &:focus {
            outline: none;
        }

        &--ball {
            border-radius: 3px 0 0 3px;
            border-right: .5px solid $color-grey-light-2;

        }

        &--person {
            border-radius: 0 3px 3px 0;
            border-left: .5px solid $color-grey-light-2;
        }




    }

    .active {
        box-shadow: $shadow-active;
    }

    &__gradeselect {
        height: 4.3rem;
        margin: 0 1rem;
        border: 1px solid $color-grey-light-2;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: $shadow-base;
        padding: .5rem 6rem .5rem 1.5rem;
        background: url(icons/down.svg) no-repeat;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-size: 1.5rem;
        background-position: right 1.5rem center;

        @include respond(phone) {
            margin: 0;
        }
    }

    ///////////////////////////////////////
    //FEATURE BUTTONS

    .button__features {

        &,
        &:link,
        &:visited {
            display: flex;
            align-items: center;
            height: 4.3rem;
            margin: 0 0 0 1rem;
            padding: .5rem 1.5rem;
            color: #fff;
            border: none;
            border-radius: 3px;
            box-shadow: $shadow-base;
            cursor: pointer;
            transition: all .3s;

            @include respond(phone) {
                justify-content: center;
            }
        }

        @include btnanimation;

        &--obj {
            background: $color-blue-medium;
        }

        &--upd {
            background: $color-red;

        }

        &--icon {
            width: 2.5rem;
            height: 2.5rem;
            background: #fff;

            margin-left: .5rem;

            &--obj {
                mask: url(icons/plus.svg) no-repeat;
            }

            &--upd {
                mask: url(icons/refresh.svg) no-repeat;
            }

            @include respond(phone) {
                position: absolute;
                float: right;
                right: 65px;
            }
        }

        @include respond(phone) {
            width: 100%;
            margin: 0;
            margin-bottom: .5rem;
        }
    }

    ///////////////////////////////////////
    //NAVIGATION TABLE

    &__table {
        // border: 2px solid yellowgreen;
        // width: 100%;
        // height: auto;
        font-size: 1.2rem;

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th {
            text-align: left;
            vertical-align: middle;
        }

        th,
        td {
            border: 2px solid orangered;
            padding: 1rem 0;
        }



        &--header {
            // border: 2px solid orangered;
        }

        &--row {
            

            &:not(:last-child) {
                border-bottom: 1px solid $color-grey-light-2;
            }

        }

        &--firstcol {}

        &--thirdcol {
            text-align: center;
        }

        &--firsthd {
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        &--icon {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 .5rem;
            background: $color-grey-dark;
            mask: url(/icons/down.svg);
        }

        &--btndetails {

            &,
            &:link,
            &:visited {
                height: 4.3rem;
                margin: 0 0 0 1rem;
                padding: .5rem 1.5rem;
                background: #fff;
                color: $color-blue-medium;
                border: .5px solid $color-grey-light-2;
                border-radius: 3px;
                box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.2);
                cursor: pointer;
                transition: all .3s;
            }

            @include btnanimation;

        }
    }

    &__pupils{
        &--container{
            background: yellowgreen;
            width: 50px;
            height: 50px;
        }
        &--pupil{
            background-color: $color-blue-medium;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
}