*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'ABeeZee', sans-serif;
  color: #333333;
  background: #f3f5f8;
}

.header {
  height: 25vh;
  background: #35a3d7;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 34em) {
  .header {
    height: 45vw;
  }
}

.header__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 3.5%;
  width: 100%;
}

.header__text {
  padding: .3rem;
}

.header__text--sub {
  text-align: center;
}

.header__text--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title--sub {
  font-size: 1.5rem;
  font-weight: 500;
}

.header__title--primary {
  font-size: 4rem;
}

@media only screen and (max-width: 34em) {
  .header__title--primary {
    font-size: 2.4rem;
  }
}

.header__icon {
  width: 4.7rem;
  height: 4.7rem;
  margin: .5rem;
  background: #fff;
  -webkit-mask: url(/icons/gift.svg);
          mask: url(/icons/gift.svg);
}

@media only screen and (max-width: 34em) {
  .header__icon {
    width: 3rem;
    height: 3rem;
  }
}

.content {
  margin: -2vw 7vw 0 7vw;
  background: #fff;
  border-radius: 10px;
  padding: 3rem;
}

@media only screen and (max-width: 49.13em) {
  .content {
    margin: -3vw 6vw 0 6vw;
  }
}

@media only screen and (max-width: 34em) {
  .content {
    margin: -15vw 5vw 0 5vw;
  }
}

.content__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

.content__navigation--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__navigation--grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 34em) {
  .content__navigation--grade {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.content__navigation--features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 34em) {
  .content__navigation--features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 34em) {
  .content__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content__icon {
  height: 2.5rem;
}

.content__icon--ball {
  height: 3rem;
}

.content__button, .content__button:link, .content__button:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  cursor: pointer;
  width: 4.3rem;
  height: 4.3rem;
  border: 1px solid #c2c2c2;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.content__button:focus {
  outline: none;
}

.content__button--ball {
  border-radius: 4px 0 0 4px;
  border-right: 0.5px solid #c2c2c2;
}

.content__button--person {
  border-radius: 0 4px 4px 0;
  border-left: 0.5px solid #c2c2c2;
}

.content .active {
  -webkit-box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.content__gradeselect {
  height: 4.3rem;
  margin: 0 1rem;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: .5rem 6rem .5rem 1.5rem;
  background: url(icons/down.svg) no-repeat;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-size: 1.5rem;
  background-position: right 1.5rem center;
}

@media only screen and (max-width: 34em) {
  .content__gradeselect {
    margin: 0;
  }
}

.content .button__features, .content .button__features:link, .content .button__features:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.3rem;
  margin: 0 0 0 1rem;
  padding: .5rem 1.5rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 34em) {
  .content .button__features, .content .button__features:link, .content .button__features:visited {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content .button__features:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.content .button__features:after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.content .button__features:active, .content .button__features:focus {
  outline: none;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.content .button__features--obj {
  background: #35a3d7;
}

.content .button__features--upd {
  background: #c32552;
}

.content .button__features--icon {
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  margin-left: .5rem;
}

.content .button__features--icon--obj {
  -webkit-mask: url(icons/plus.svg) no-repeat;
          mask: url(icons/plus.svg) no-repeat;
}

.content .button__features--icon--upd {
  -webkit-mask: url(icons/refresh.svg) no-repeat;
          mask: url(icons/refresh.svg) no-repeat;
}

@media only screen and (max-width: 34em) {
  .content .button__features--icon {
    position: absolute;
    float: right;
    right: 65px;
  }
}

@media only screen and (max-width: 34em) {
  .content .button__features {
    width: 100%;
    margin: 0;
    margin-bottom: .5rem;
  }
}

.content__table {
  font-size: 1.2rem;
}

.content__table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.content__table th {
  text-align: left;
  vertical-align: middle;
  padding-bottom: .5rem;
}

.content__table td:not(:last-child) {
  padding: 2rem 2rem 2rem 0;
}

.content__table--row:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

.content__table--firstcol {
  width: 35%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__table--secondcol {
  width: 45%;
}

.content__table--thirdcol {
  width: 15%;
  text-align: right;
  /* display: flex;
            justify-content: flex-end; */
}

.content__table--firsthd {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__table--icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 .5rem;
  background: #333333;
  -webkit-mask: url(/icons/down.svg);
          mask: url(/icons/down.svg);
}

.content__table--btndetails, .content__table--btndetails:link, .content__table--btndetails:visited {
  height: 4.3rem;
  margin: 0 0 0 1rem;
  padding: .5rem 1.5rem;
  background: #fff;
  color: #35a3d7;
  border: 0.5px solid #c2c2c2;
  border-radius: 4px;
  -webkit-box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.content__table--btndetails:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.content__table--btndetails:after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.content__table--btndetails:active, .content__table--btndetails:focus {
  outline: none;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 34em) {
  .content__table table, .content__table thead, .content__table tbody, .content__table th, .content__table td, .content__table tr {
    display: block;
  }
}

.content__pupils--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* &-row1 {
                display: flex;
            }

            &-row2 {
                display: flex;
                margin-top: .5rem;
            } */
}

.content__pupils--pupil {
  background-color: #b9def1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: .5rem;
  margin-top: .5rem;
}

.topgrade {
  background-color: #35a3d7;
}

.average {
  background-color: #b9def1;
}

.failed {
  background-color: #fee342;
}
/*# sourceMappingURL=style.css.map */